@import url('https://fonts.googleapis.com/css?family=Numans');
body{
  
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}
.ok{
    color: white;
    text-align: center;
    display: block;
    font-size: 25px;
}
.ok2{
    color: white;
    text-align: center;
    display: block;
    font-size: 15px;
}   
.ok3{
    color: red;
    text-align: center;
    display: block;
    font-size: 25px;
}
#coids{
    color: black;
    background-color: #FFC312; 
    margin-top: 10px;
}

div.col{
    padding: 0px 0px 0px 0px;
}

td {
    color:white;
}
th{
    color:white;
}